In [2]:
import pandas as pd
import os
print(os.getcwd())
print(os.listdir())

c:\Users\91928\OneDrive\Documents\Desktop\Hospital Data Analyst Project
['Data Terminology.docx', 'Healthcare Project.ipynb', 'Hopital Emergency Room PPT.pptx', 'Hospital ER_Data .csv', 'hospital.png']

In [3]:
df = pd.read_csv(
    r'C:\Users\91928\OneDrive\Documents\Desktop\Hospital Data Analyst Project\Hospital ER_Data.csv'
)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\91928\\OneDrive\\Documents\\Desktop\\Hospital Data Analyst Project\\Hospital ER_Data.csv'

In [6]:
df.head()

NameError: name 'df' is not defined

In [5]:
df.tail()

,Patient Id,Patient Admission Date,Patient First Inital,Patient Last Name,Patient Gender,Patient Age,Patient Race,Department Referral,Department,Doctor Id,Doctor Name,Consultation Fees,Patient Admission Flag,Patient Satisfaction Score,Patient Waittime,Patients CM
9211,313-21-4953,28-08-2024 17:38,J,Spradbrow,NC,42,Asian,General Practice,General,D402,Dr.Iyer,1200,True,NaN,43,0
9212,226-92-3412,28-06-2024 23:12,G,Antoniak,NC,19,Asian,NaN,General,D401,Dr.Joshi,1100,True,NaN,49,0
9213,412-85-3832,16-05-2024 17:06,V,Riccardo,NC,14,Asian,NaN,Emergency,D501,Dr.Reddy,1500,True,NaN,36,0
9214,708-91-2439,14-05-2024 23:43,S,Renals,NC,73,Declined to Identify,General Practice,General,D401,Dr.Joshi,1100,True,1.0,38,0
9215,249-47-9666,01-03-2024 08:50,Y,Greep,NC,35,White,General Practice,General,D401,Dr.Joshi,1100,True,NaN,39,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9216 entries, 0 to 9215
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Patient Id                  9216 non-null   object
 1   Patient Admission Date      9216 non-null   object
 2   Patient First Inital        9216 non-null   object
 3   Patient Last Name           9216 non-null   object
 4   Patient Gender              9216 non-null   object
 5   Patient Age                 9216 non-null   int64
 6   Patient Race                9216 non-null   object
 7   Department Referral         3816 non-null   object
 8   Department                  9216 non-null   object
 9   Doctor Id                   9216 non-null   object
 10  Doctor Name                 9216 non-null   object
 11  Consultation Fees           9216 non-null   int64
 12  Patient Admission Flag      9216 non-null   bool
 13  Patient Satisfaction Score  2517 non-null   float64
 14  Patient Waittime            9216 non-null   int64
 15  Patients CM                 9216 non-null   int64
dtypes: bool(1), float64(1), int64(4), object(10)
memory usage: 1.1+ MB

In [7]:
df.describe()

,Patient Age,Consultation Fees,Patient Satisfaction Score,Patient Waittime,Patients CM
count,9216.000000,9216.000000,2517.000000,9216.000000,9216.000000
mean,39.855143,1099.918620,4.992054,35.259874,0.052083
std,22.755125,190.835169,3.138043,14.735323,0.222207
min,1.000000,500.000000,0.000000,10.000000,0.000000
25%,20.000000,1000.000000,2.000000,23.000000,0.000000
50%,39.000000,1100.000000,5.000000,35.000000,0.000000
75%,60.000000,1200.000000,8.000000,48.000000,0.000000
max,79.000000,1500.000000,10.000000,60.000000,1.000000

In [8]:
df.isnull().sum()

Patient Id                       0
Patient Admission Date           0
Patient First Inital             0
Patient Last Name                0
Patient Gender                   0
Patient Age                      0
Patient Race                     0
Department Referral           5400
Department                       0
Doctor Id                        0
Doctor Name                      0
Consultation Fees                0
Patient Admission Flag           0
Patient Satisfaction Score    6699
Patient Waittime                 0
Patients CM                      0
dtype: int64

In [9]:
df['Patient Satisfaction Score'] = df.groupby('Department')['Patient Satisfaction Score'].transform(lambda x:x.fillna(x.median()))

In [10]:
df.isnull().sum()

Patient Id                       0
Patient Admission Date           0
Patient First Inital             0
Patient Last Name                0
Patient Gender                   0
Patient Age                      0
Patient Race                     0
Department Referral           5400
Department                       0
Doctor Id                        0
Doctor Name                      0
Consultation Fees                0
Patient Admission Flag           0
Patient Satisfaction Score       0
Patient Waittime                 0
Patients CM                      0
dtype: int64

In [11]:
df.head()

,Patient Id,Patient Admission Date,Patient First Inital,Patient Last Name,Patient Gender,Patient Age,Patient Race,Department Referral,Department,Doctor Id,Doctor Name,Consultation Fees,Patient Admission Flag,Patient Satisfaction Score,Patient Waittime,Patients CM
0,145-39-5406,20-03-2024 08:47,H,Glasspool,M,69,White,NaN,Emergency,D501,Dr.Reddy,1500,False,10.0,39,0
1,316-34-3057,15-06-2024 11:29,X,Methuen,M,4,Native American/Alaska Native,NaN,General,D402,Dr.Iyer,1200,True,5.0,27,0
2,897-46-3852,20-06-2024 09:13,P,Schubuser,F,56,African American,General Practice,General,D402,Dr.Iyer,1200,True,9.0,55,0
3,358-31-9711,04-02-2024 22:34,U,Titcombe,F,24,Native American/Alaska Native,General Practice,General,D401,Dr.Joshi,1100,True,8.0,31,0
4,289-26-0537,04-09-2024 17:48,Y,Gionettitti,M,5,African American,Physiotherapy,Orthopedics,D301,Dr.Singh,900,False,5.0,10,0

In [12]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [13]:
df.columns

Index(['patient_id', 'patient_admission_date', 'patient_first_inital',
       'patient_last_name', 'patient_gender', 'patient_age', 'patient_race',
       'department_referral', 'department', 'doctor_id', 'doctor_name',
       'consultation_fees', 'patient_admission_flag',
       'patient_satisfaction_score', 'patient_waittime', 'patients_cm'],
      dtype='object')

In [15]:
df.shape

(9216, 16)

In [16]:
df = df.rename(columns={'patients_cm':'patient_cm'})

In [17]:
df.columns

Index(['patient_id', 'patient_admission_date', 'patient_first_inital',
       'patient_last_name', 'patient_gender', 'patient_age', 'patient_race',
       'department_referral', 'department', 'doctor_id', 'doctor_name',
       'consultation_fees', 'patient_admission_flag',
       'patient_satisfaction_score', 'patient_waittime', 'patient_cm'],
      dtype='object')

In [19]:
! pip install pymysql sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\lenovo\appdata\roaming\python\python314\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\appdata\roaming\python\python314\site-packages (2.0.46)
Requirement already satisfied: greenlet>=1 in c:\users\lenovo\appdata\roaming\python\python314\site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\appdata\roaming\python\python314\site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [20]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
# MySQL connection
username = "root"
password = quote_plus("Raha@2024##")
host = "localhost"
port = "3306"
database = "healthcare"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "patient_info"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

# Read back sample
pd.read_sql("SELECT * FROM patient_info LIMIT 5;", engine)

,patient_id,patient_admission_date,patient_first_inital,patient_last_name,patient_gender,patient_age,patient_race,department_referral,department,doctor_id,doctor_name,consultation_fees,patient_admission_flag,patient_satisfaction_score,patient_waittime,patient_cm
0,145-39-5406,20-03-2024 08:47,H,Glasspool,M,69,White,None,Emergency,D501,Dr.Reddy,1500,0,10.0,39,0
1,316-34-3057,15-06-2024 11:29,X,Methuen,M,4,Native American/Alaska Native,None,General,D402,Dr.Iyer,1200,1,5.0,27,0
2,897-46-3852,20-06-2024 09:13,P,Schubuser,F,56,African American,General Practice,General,D402,Dr.Iyer,1200,1,9.0,55,0
3,358-31-9711,04-02-2024 22:34,U,Titcombe,F,24,Native American/Alaska Native,General Practice,General,D401,Dr.Joshi,1100,1,8.0,31,0
4,289-26-0537,04-09-2024 17:48,Y,Gionettitti,M,5,African American,Physiotherapy,Orthopedics,D301,Dr.Singh,900,0,5.0,10,0